body {
    text-align: center;
}
.boxes {
    display: flex;
    justify-content: center; 
}
.b {
    height: 200px;
    width: 200px;
    border: 5px solid black;
    margin: 20px;
    border-radius: 10%;
}
.b1{
    background-color: rgb(231, 162, 196);
}
.b2{
    background-color: cadetblue;
}
.b3{
    background-color: rgb(78, 187, 230);
}
.b4{
    background-color: rgb(196, 107, 196);
}
.flash {
    background-color: white;
}
.error {
    background-color: red;
}
.score{
    position: absolute;
    right:100px;
    top: 20px;
}
